<script langauge="javascript">
    function post_value(event) {
        let checkBox = event.target;
        let t = window.parent.opener.document.getElementById('source');
        t.setAttribute('value',checkBox.getAttribute('value'));
       self.close();
    }
</script>

<div class="Maintitle" style="margin : 10px;border-bottom: black;border-bottom-width: 5px">
    <table>
        <tr>
            {{{imgicon title}}}
            <td><h4>{{objectname}} List</h4></td></tr></td>
    </table>

</div>
{{#if error}}
    <div class="alert alert-danger" role="alert">
        <strong style="text-transform: uppercase;">Error : </strong> {{error.sqlMessage}}
    </div>
{{/if}}

<div class="Maintitle" style="width: 100%;background: #F0FFFF">
    <div style="text-align: center">
        <form id="submitform" method="post" action="/s/{{objectname}}/lookup?returnTo={{returnTo}}">
            <div class="form-group"><label for="searchbox" class="fb-text-label">Search<span class="fb-required">*</span></label><input type="text" class="form-control" name="searchbox" id="searchbox" required="required" value="{{values}}" aria-required="true"></div>
            <button id="new_bUsers" class="form_button" type="submit"
                    style="position: center;background:green;">Search</button>
        </form>
    </div>
</div>


<div class="Maintitle" style="width: 100%;background: #F0FFFF">
    <div style="padding-right: 20px;padding-left: 20px;">
        {{{tablegen uresult 'Y' }}}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="/public/js/setup.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">