<div class="Maintitle" style="margin : 10px;border-bottom: black;border-bottom-width: 5px">
    <table>
        <tr>
            {{{imgicon title}}}
            <td><h4>{{title}}</h4></td></tr></td>
    </table>

</div>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger" role="alert">
            <strong style="text-transform: uppercase;">{{this.param}}</strong> {{this.msg}}
        </div>
    {{/each}}
{{/if}}
{{#if error}}
    <div class="alert alert-danger" role="alert">
        <strong style="text-transform: uppercase;">Error : </strong> {{error.sqlMessage}}
    </div>
{{/if}}
<form method="post" action="/setup/profiles/new">

    <div class="form-group">
        <label for="profilename">Profile name</label>
        <input type="text" name="Profile_Name" class="form-control" placeholder="profile name">
        <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
    </div>

    <div style="margin: 10px;text-align: center">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-danger">Reset</button>
    <button type="button" class="btn btn-danger" onclick="history.go(-1);">Cancel</button>
    </div>
</form>