<div class="Maintitle" style="margin : 10px;border-bottom: black;border-bottom-width: 5px">
    <table>
        <tr>
            {{{imgicon title}}}
            <td><h4>{{title}}</h4></td></tr></td>
    </table>

</div>
<div class="Maintitle">
    <div style="text-align: center">
        <button id="new_bUsers" class="form_button" onclick="window.location.pathname = 'setup/profiles/new'"
                style="position: center;background:green;">New</button>
    </div>

    <table id="profilelist" class="example table cell-border table-bordered hover" style="width:100%">
        <thead>
            <th>ID</th>
            <th>Profile Name</th>
            <th>Type</th>
            <th>Orgnaisation_ID</th>
        </thead>
       {{#each uresult}}
           <tr>
               <td> <a href="/setup/profiles/details?id={{this.id}}">{{this.id}}</td>
               <td> {{this.Profile_Name}}</td>
               <td> {{this.type}}</td>
               <td> {{this.organisationId}}</td>
           </tr>
       {{/each}}

        <tfoot>
            <th>ID</th>
            <th>Profile Name</th>
            <th>Type</th>
            <th>Orgnaisation_ID</th>
        </tfoot>
    </table>
</div>